<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <title>Login</title>
</head>
<body>
    <div id = "login-box">
        <h1>회원가입 완료 &#129395; </h1>

        <a href="{{ url_for('loginPage') }}"> 로그인 페이지로 돌아가기</a> 

    </div>
</body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}" />
</html>


      